@layer components {
    .flex-center {
        @apply flex items-center justify-center;
    }
    .full-size {
        @apply w-full h-full;
    }
    .full-screen {
        @apply w-screen h-screen;
    }
    .bg-gradient {
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }
    .font-lora {
        font-family: 'Lora Sans', sans-serif;
        font-weight: 500;
    }
}

.link {
    @apply text-sky-500 hover:underline;
}
